name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-docker-action@v4

    - name: Set up Docker Compose
      uses: docker/setup-compose-action@v1

    - name: Build Docker Image
      run: docker compose build api

    - name: Run Black
      run: docker compose run api poetry run black . --check

    - name: Run Isort
      run: docker compose run api poetry run isort . --check-only

    - name: Run Flake8
      run: docker compose run api poetry run flake8 . --count --max-line-length=90 --statistics

    - name: Run Mypy
      run: docker compose run api poetry run mypy .

    - name: Run Tests
      run: docker compose run api poetry run pytest
